nav {
    background-color: #333;
    color: white;
    padding: 1rem;
    border-style: solid;
    border-color: 073516;
    border-width: 1px;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 8px;
  }
  
  li:last-child {
    margin-left: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
  