body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: #205b34;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info p {
    margin: 0;
    padding: 5px 0;
}

.user-info img {
    max-width: 30%;
    height: auto;
    margin-top: 10px;
    border-radius: 150px;
}

.edit-buttons {
    margin-top: 20px;
}

.edit-buttons button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-buttons button.cancel {
    background-color: #ff6666;
}

.edit-mode-label {
    display: block;
    margin-top: 10px;
    
}

.edit-mode-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #fff;
    border-style: solid;
    border-color: #3d3d3d;
    border-width: 1px;
    max-height: 40px;
}

